@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "./styles/auth.less";
@import "./styles/toast.less";

:root {
  --background: #1e1e2b;
  --card: #28293d;
  --shadow: #191924;
  // --font: #ffffff;
  // --font-secondary: #8c8d90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
  font-family: Ubuntu, Inter, monospace;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

input:-webkit-autofill {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}

@keyframes appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appear-side {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-icon {
  animation: spin 2s linear infinite;
}

.icon {
  width: 18px;
  height: 18px;
}

.home {
  height: 100vh;
  background-color: var(--background);
  // overflow: auto;
  .wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "topbar topbar"
      "sidebar main";
    transition: 0.3s;
    color: white;
    // gap: 20px;
    // padding: 20px;
    .sidebar {
      grid-area: sidebar;
      // margin:0 20px 20px 20px;
      height: 100vh;
      transition: 0.3s;
      // width:100%;
      width: 280px;
      position: fixed;
      top: 60px;
      // margin:20px;
      // border-radius: 10px;
      // box-shadow: 0px 0px 30px var(--shadow);
      background: rgb(54, 41, 97);
      background: linear-gradient(
        150deg,
        rgba(54, 41, 97, 1) 0%,
        rgba(64, 45, 126, 1) 59%,
        rgba(73, 22, 142, 1) 100%
      );
    }

    .topbar {
      grid-area: topbar;
      background-color: var(--background);
      // background-color: red;
      height: 60px;
      // width: 100%;
      position: fixed;
      right: 0px;
      left: 0;
      top: 0;
      // z-index: 10000
    }
    .main {
      grid-area: main;
      background-color: var(--card);
    }
  }
}

.active {
  background-color: rgba(129, 140, 248, 0.2);
}

@media (max-width: 1000px) {
  .home {
    .wrapper {
      grid-template-columns: 80px 1fr;
      .sidebar {
        width: 80px;
      }
    }
  }
}
