@import "./styles/auth.less";

// @bg-button: rgb(97, 32, 188);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

input:-webkit-autofill {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}
