@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");
@import "./styles/auth.less";
@import "./styles/toast.less";

@import 'react-tooltip/dist/react-tooltip.css';

:root {
  --background: #f5f6f7;
  --card: #ffffff;
  --shadow: #191924;
  --sidebar: rgb(23, 26, 29);
  --border: gray;
  
}

@layer components {
  .centered-min-data {
    @apply h-full text-gray-400 flex flex-col items-center justify-center;
  }
  .centered-min-text {
    @apply text-gray-500 text-xs font-medium uppercase;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}

html,
body,
#root {
  height: 100%;
  font-family: Inter, monospace;
}

a {
  color: #fff;
  text-decoration: none;
}

input:-webkit-autofill {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}

@keyframes appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appear-side {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-icon {
  animation: spin 2s linear infinite;
}

@keyframes heartbeat {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.icon {
  width: 18px;
  height: 18px;
}

.home {
  height: 100vh;
  background-color: var(--background);
  .wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "sidebar topbar"
      "sidebar main";
    transition: 0.3s;
    color: white;
    .sidebar {
      font-family: Ubuntu !important;
      grid-area: sidebar;
      height: 100vh;
      transition: 0.3s;
      width: 280px;
      position: fixed;
      background-color: var(--sidebar);
    }

    .topbar {
      grid-area: topbar;
      background-color: white;
      height: 60px;
      position: fixed;
      right: 0px;
      left: 280px;
      top: 0;
      transition: 0.3s;
    }
    .main {
      grid-area: main;
      background-color: var(--background);
    }
  }
}

.devices-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 30px;
  .device-card {
    height:150px;
  }
}

.active {
  background-color: rgba(156, 163, 175, 0.1);
  color: white;
}

.react-tooltip {
  background-color:red;
}

@media (max-width: 1023px) {
  .home {
    .wrapper {
      grid-template-columns: 70px 1fr;
      .sidebar {
        width: 70px;
      }
      .topbar {
        left: 70px;
      }
    }
  }
}
