.home {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 50px;
  height: 100%;
  background-color: var(--background);
  color: #fff;
  .container {
    max-width: 1800px;
    padding: 0 50px;
    margin: 0 auto;
    color: var(--font);
    font-size: 14px;
    .devices-list {
      height: 100%;
      // border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      border:1px solid red;
    }
  }
}
