.home {
  height: 100%;
  color: var(--font);
  font-size: 14px;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(18, 1fr);
  .main {
    // grid-row-start: 2;
    // grid-row-end: 4;
    // grid-column-start: 2;
    // grid-column-end: 4;
    grid-row: 2/19;
    grid-column: 2/4;
  }

  .top-bar {
    // grid-row-start: 1;
    // grid-row-end: 1;
    // grid-column-start: 2;
    // grid-column-end: 4;
    grid-row: 1/1;
    grid-column: 2/4;
  }

  .side-bar {
    // grid-row-start: 1;
    // grid-row-end: 4;
    // grid-column-start: 1;
    // grid-column-end: 1;
    grid-row: 1/19;
    grid-column: 1/1;
  }
}
