.home {
  display: grid;
  grid-template-rows: auto 1fr;
  // gap: 50px;
  height: 100%;
  background-color: var(--background);
  color: #fff;
  overflow-y: scroll;
  .container {
    // max-width: 1400px;
    // padding: 0 30px;
    margin: 150px auto;
    color: var(--font);
    font-size: 14px;
    // border:1px solid orange;
    // .devices-list {
    //   height: 100%;
    //   // border: 1px solid red;
    //   display: flex;
    //   // align-items: flex-start;
    //   // justify-items: center;
    //   justify-self: center;
    //   flex-wrap:wrap;
    //   gap: 30px;
    //   border:1px solid red;
    // }
    .devices-list {
      // border:1px solid red;
      height: 100%;
      max-width: 1400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // align-items: flex-end;
      // align-self: flex-start;
      // justify-items: flex-start;
      gap: 30px;
      // flex:1;
    }
  }
}
